.todo-list {
  padding-top: 0.5em;
  padding-bottom: 1em;
  width: 100%;
}

.todo-list p {
  padding-top: 0.5em;
  margin: 0;
  text-align: center;
  height: 100%;
}

.button-holder {
  float: right;
}

.completed-todo {
  opacity: 0.5;
}

.delete-button {
  margin-left: 0.3em;
}
