.todo-list {
  padding-top: 0.5em;
  padding-bottom: 1em;
  width: 100%;
}

.todo-list label {
  padding-top: 0.5em;
  margin: 0;
  text-align: center;
}

.todo-item {
  display: flex;
}

.todo-item div {
  flex-grow: 5;
  margin-right: 0.5em;
  cursor: pointer;
}

.completed-todo {
  opacity: 0.5;
}

.delete-button {
  margin-left: 0.3em;
}
