<li [class]="'list-group-item'+(!showInput?' todo-item':'')">
  <ng-container *ngIf="!showInput">
    <div [id]="'todo-title-'+todo.id" [class]="this.todo.isComplete?'completed-todo':''" (click)="openInput()">
      {{ todo.title }}
    </div>
    <ng-container>
      <button *ngIf="!todo.isComplete" class="btn btn-success" (click)="completeTodo()"> Complete </button>
      <button *ngIf="todo.isComplete" class="btn btn-primary" (click)="completeTodo()"> Revert </button>
      <button class="btn btn-danger delete-button" (click)="deleteTodo()"> Delete </button>
    </ng-container>
  </ng-container>
  <app-title-input
    *ngIf="showInput"
    [inputId]="'title-input-'+todo.id"
    [title]="todo.title"
    (titleSubmit)="updateTitle($event)"
    placeholder=""
    actionText="Update"></app-title-input>
</li>
